{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>Mymail</h2>
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- emails -->
    <div id="emails-view">
    </div>

    <!-- view email -->
    <div id="email-content">
        <h3 id="email-header"></h3>
         <div class="d-flex flex-start mt-3">
              <div class=""><span class="img-placeholder"></span></div>
              <div class="ml-3 w-100">
                <h6 class="fw-bold mb-1" id="email-sender"></h6>
                <span class="text-secondary mb-1 mr-1">To:</span><span class="text-secondary mb-1" id="email-recipients"></span>
                <p class="text-secondary mb-1 mr-1" id="email-timestamp"></p>
                <hr>
                <p class="mb-0" id="email-body">
                </p>
              </div>
            </div>
          </div>

    <!-- compose -->
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id="compose-send" class="btn btn-primary mt-3"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}